<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} %-5level %thread %logger{36} - %msg%n
            </Pattern>
        </layout>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
<!--    <appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
<!--        <file>streams.log</file>-->
<!--        <append>true</append>-->
<!--        &lt;!&ndash; set immediateFlush to false for much higher logging throughput &ndash;&gt;-->
<!--        <immediateFlush>false</immediateFlush>-->
<!--        &lt;!&ndash; encoders are assigned the type-->
<!--             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default &ndash;&gt;-->
<!--        <encoder>-->
<!--            <Pattern>-->
<!--                %d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n-->
<!--            </Pattern>-->
<!--        </encoder>-->
<!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--            <level>DEBUG</level>-->
<!--            <onMatch>ACCEPT</onMatch>-->
<!--            <onMismatch>DENY</onMismatch>-->
<!--        </filter>-->
<!--    </appender>-->

    <root level="info">
        <appender-ref ref="CONSOLE"/>
<!--        <appender-ref ref="FILE" />-->
    </root>
</configuration>
